---
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/Layout.astro";
import Connectspotify from "../components/connectspotify.astro";
import Pricing from "../components/pricing.astro";
---

<Layout title="Beats.ai | High Quality Reccomendations For Your Music" />

<div class="h-screen bg-[url('/background.webp')]">
  <Navbar />

  <div class="flex items-center justify-around flex-col my-30">
    <h1 class="text-7xl font-bold text-[#ffffff] text-center leading-snug mb-5">
      get <span class="text-[#DC143C]">high quality{" "}</span>info on <br /> your
      taste in <span class="text-[#DC143C]">music.</span>
    </h1>
    <span class="text-xl text-[#ffffff] text-center tracking-wider mb-20"
      >music suggestions and custom playlists based on your music <br /> taste all
      with the help of ai.
    </span>

    <div class="flex items-center justify-center w-full">
      <Connectspotify />
      <Pricing />
    </div>
  </div>
</div>
