---
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Beats.ai | High Quality Reccomendations For Your Music" />

<Navbar />
<h1 class="text-gray">
  get <span class="text-red">high quality{" "}</span>info on your taste in
  music.
</h1>
