---
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/Layout.astro";
import Waitlistbutton from "../components/waitlistbutton.astro";
---

<Layout title="beats.ai | ai generated playlists based on ur mood" />

<div class="h-screen bg-[url('/background.webp')]">
  <Navbar />

  <div class="flex items-center justify-around flex-col my-30">
    <h1
      class="text-7xl font-bold text-[#ffffff] text-center leading-snug mb-10"
    >
      <span class="text-[#DC143C]">ai generated</span>
      playlists <br />
      based on ur <span class="text-[#DC143C]">mood.</span>
    </h1>
    <span class="text-xl text-[#ffffff] text-center tracking-wider mb-20"
      >music suggestions and custom playlists based on ur music<br /> taste all with
      the help of ai.
    </span>

    <div class="flex items-center justify-center w-full">
      <Waitlistbutton />
    </div>
  </div>
</div>
