---
import logo from "/logo.png";
import spotify_logo from "/spotify.png";
---

<div class="p-5 flex items-center justify-around mb-10">
  <a href="/">
    <img src={logo} alt="logo" class="w-32 mr-80" />
  </a>
  <a href="">
    <img src={spotify_logo} alt="logo" class="w-12" />
  </a>
</div>
