---
import "@fontsource/poppins";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    console.log(name);
    console.log(email);

    await fetch("http://127.0.0.1:5000/add_user_to_waitlist", {
      method: "POST",
      body: data,
    });
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<div class="card flex items-center bg-[#1E1E1E] rounded-md">
  <form
    method="post"
    class="flex w-full h-full flex-col justify-center items-center"
  >
    <div class="flex flex-col mb-10">
      <label for="name" class="text-[#ffffff] mb-5">name</label>
      <input
        type="text"
        name="name"
        class="bg-[#333333] w-96 h-12 px-5 text-[#ffffff] rounded-md"
        placeholder="harry potter"
        required
      />
    </div>

    <div class="flex flex-col mb-20">
      <label for="email" class="text-[#ffffff] mb-5">email</label>
      <input
        type="email"
        name="email"
        class="bg-[#333333] w-96 h-12 px-5 text-[#ffffff] rounded-md"
        placeholder="harry.potter@gmail.com"
        required
      />
    </div>
    <button
      type="submit"
      class="bg-[#DC143C] text-[#ffffff] px-20 py-5 rounded-md"
      >join the waitlist</button
    >
  </form>
</div>

<style>
  .card {
    font-family: "Poppins", sans-serif;
    height: 500px;
    width: 700px;
  }
</style>
